@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.head {
  font-size: 3rem;
  font-weight: 550;
  color: white;
}
.form-control {
  display: inline-block !important;
  width: 80%;
  font-size: 1rem;
  color: #fff;
}
#gg {
  border: none;
  color: black !important;
  outline: 2px solid rgb(64, 67, 109);
}
.internal button {
  background-color: white;
  border: 2px solid rgb(64, 67, 109);
  border-radius: 0.5rem;
  margin-left: 5px;
}
.internal button:hover {
  background-color:rgb(186, 196, 250) ;
}
.main {
  background-color: rgb(186, 196, 250);
  background: url(https://wallpaperaccess.com/full/1761712.jpg);
  object-fit: cover;
  min-height: 100vh;
}
.top {
  margin: 10vh auto;
  width: 30%;
  backdrop-filter: blur(2px);
  /* background-color: rgb(186, 196, 250);; */
  min-height: 70vh;
  border: 0.2rem solid black;
  border-radius: 1em;
}

.ul {
  padding: 1.5rem 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: start;
  list-style: none;
}
.list {
  list-style: none;
  border: 2px solid rgb(64, 67, 109); 
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.15rem;
  margin: 1rem 0;
  padding: 0.5rem;
  padding-left: 2rem;
  font-weight: 400;
}
.hel {
  float: right;
  text-decoration: none;
}
.list i {
  cursor: pointer;
  font-style: normal;
  margin-right: 8px;
}
.list i:hover{
color: rgb(221, 74, 74);
}

@media screen and (max-width: 500px) {
  .top {
    width: 80vw;
  }
  .ul {
    padding: 0;
    margin: 0;
  }
  .list {
    font-size: 1rem;
  }
}